<html>
    <head> 
        <title> If else in django demo</title>
    </head>
    <body>
        <h1>
            IF ELSE IN DJANGO demo
                <br>
            The data we send is {{my_list}}
        </h1>
        {%if my_list|length == 0%}
            <div> empty list</div>
        {%else%}        
            {%for i in my_list %}
            <div> 
                {% if i >= 3 %}
                    {{i}}
                {% endif %}

            </div>
            {% endfor %}
        {% endif %}
    </body>
</html>